@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Slab&display=swap');

body {

    background-color: #ffffff;
    font-family: 'Agbalumo', 'Roboto Slab';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #052cb0;
    display: grid;
    grid-template-columns: 300px auto;
    padding: 25px 50px;
}

footer {
    background-color: #052cb0;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #023047;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
    color: #f8db14;
}

footer .social img {
    padding-top: 15px;
}

nav a {
    text-align: center;
    color: #f8db14;
    text-decoration: none;
    padding: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;

}

nav a:hover {
    background-color: #ffffff;
    color: #d90d1c;
}

.logo {
    width: 200px;
    border-radius: 8px;
}

#logo_link {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: center;
    align-self: center;
}

main section {
    text-align: center;
    grid-column: 4/8;
    grid-row: 1/7;
}

.card-img {
    border: 10px solid #052cb0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #023047;
}

#hero-msg {
    background-color: #f8db14;
    grid-column: 2/3;
    margin-top: 50px;

}

#hero-msg h1,
#hero-msg h2 {
    text-align: center;
    color: #052cb0;
    font-size: 2.5em
}

#hero-msg h2 {
    text-align: center;
    color: #052cb0;
    font-size: 1.5em;
    font-family: 'Roboto Slab';

}

p {
    font-family: sans-serif;
    color: #ffffff;
    text-align: justify;
    font-size: 1.5em;
    

}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

#background {
    height: 725px;
    background-color: #ffffff;
    grid-column: 1/11;
    grid-row: 2/5;
}

.luzon-card {
    grid-column: 2/4;
    grid-row: 8/3;
}

.visayas-card {
    grid-column: 5/7;
    grid-row: 8/3;
}

.mindanao-card {
    grid-column: 8/10;
    grid-row: 8/3;
}

.card-img {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.lu {
    background-color: #052cb0;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #ffffff;
}

.tara {
    background-color: #052cb0;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #ffffff;
}

.vi {
    background-color: #f8db14;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #ffffff;
}

.min {
    background-color: #d90d1c;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #ffffff;
}

.msg p {
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #ffffff;
    /* Grey text */
    width: 90%;
    /* Full width */
    padding: 20px;
    /* Some padding */
    margin-left: 70px;
    
}

.kadayawan-msg {
    background-color: #219ebc;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/11;
    grid-row: 8/10;
    box-shadow: 5px 5px 10px #023047;
}

.kadayawan-msg p {
    color: #ffffff;
    font-size: 0.8em;
    padding-bottom: 15px;
    text-align: left;
}

.higantes-msg {
    background-color: #219ebc;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/11;
    grid-row: 2/4;
    box-shadow: 5px 5px 10px #023047;
}

.higantes-msg p {
    color: #ffffff;
    font-size: 0.8em;
    padding-bottom: 15px;
    text-align: left;
}

.maskara-msg {
    background-color: #219ebc;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/11;
    grid-row: 5/7;
    box-shadow: 5px 5px 10px #023047;
}

.maskara-msg p {
    color: #ffffff;
    font-size: 0.8em;
    padding-bottom: 15px;
    text-align: left;
}

.festival1 {
    grid-column: 1/11;
    grid-row: 2/11;
    z-index: 1;
}

.festival2 {
    grid-column: 1/11;
    grid-row: 5/11;
    z-index: 1;
}

.festival3 {
    grid-column: 1/11;
    grid-row: 8/11;
    z-index: 1;
}

.festival-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}


.festival-grid h1 {
    grid-column: 2/11;

}

.festival-grid h1 {
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #ffffff;
    /* Grey text */
    width: 90%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  

@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
}
